@import url(../servicos/cardAuto.css);
@import url(../servicos/cardEletro.css);

@media (min-width: 320px) and (max-width: 768px) {
  #servicos {
    text-align: center;
    margin: 0px 25px;
  }

  #servicos h2 {
    margin: 40px 0px;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700;
  }

  #servicos h2::before {
    content: "";
    width: 30px;
    height: 4px;
    display: inline-block;
    margin-bottom: 8px;
    margin-right: 12px;
    background-color: black;
    transition: width 0.2s;
  }

  #servicos h2::after {
    content: "";
    width: 30px;
    height: 4px;
    display: inline-block;
    margin-bottom: 8px;
    margin-left: 12px;
    background-color: black;
    transition: width 0.2s;
  }

  #buttons {
    display: flex;
    justify-content: center;
  }

  button {
    width: 125px;
    height: 41px;
    border: none;
    font-family: "Poppins";
    font-weight: 700;
    margin-bottom: 20px;
  }

  #buttonAutomotivo {
    background-color: #0a3167;
    color: white;
    border-radius: 7px 0 0 7px;
  }

  #buttonEletrico {
    background-color: #ffc700;
    color: #0A3167;
    border-radius: 0 7px 7px 0;
  }
 
  
  .card {
    background-image: url("../../../pictures/test.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 200px;
    height: 200px;
    
  }
}