@import url(../servicos/cardAuto.css);
@import url(../servicos/cardEletro.css);

@media (min-width: 320px) and (max-width: 768px) {
  #servicos {
    text-align: center;
    margin: 0px 25px;
  }

  #servicos h2 {
    margin: 40px 0px;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700;
  }

  #servicos h2::before {
    content: "";
    width: 30px;
    height: 4px;
    display: inline-block;
    margin-bottom: 8px;
    margin-right: 12px;
    background-color: black;
    transition: width 0.2s;
  }

  #servicos h2::after {
    content: "";
    width: 30px;
    height: 4px;
    display: inline-block;
    margin-bottom: 8px;
    margin-left: 12px;
    background-color: black;
    transition: width 0.2s;
  }

  #buttons {
    display: flex;
    justify-content: center;
  }

  button {
    width: 125px;
    height: 41px;
    border: none;
    font-family: "Poppins";
    font-weight: 700;
    margin-bottom: 20px;
  }

  .buttonAutomotivo {
    background-color: #0a3167;
    color: white;
    border-radius: 7px 0 0 7px;
  }

  .buttonEletrico {
    background-color: #ffc700;
    color: #0a3167;
    border-radius: 0 7px 7px 0;
  }

  #cardAutoMobile, #cardEletroMobile{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  
  
  .card {
    line-height: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }
  
  .card h3 {
    font-weight: 700;
    margin-bottom: 25px;
    font-size: 1.375rem;
  }

  #cardAutoMobile .card h3,
  #cardAutoMobile .card p {
    color: #ffffff;
  }
  
  #cardAutoMobile .card p, 
  #cardEletroMobile .card p {
    margin: 0 10px;
  }

  #cardEletroMobile .card p {
    font-weight: 700;
  }
  



  #cardAutoMobile .card h3:before, 
  #cardEletroMobile .card h3:before {
    content: "";
    width: 6px;
    height: 16px;
    display: inline-block;
    margin-right: 8px;
  }
  
  
  #cardAutoMobile .card h3:before {
    background-color: #FFC700;
  }
  
  #cardEletroMobile .card h3:before {
    background-color: #0A3167;

  }
  .cardAutoGas,   
  .cardAutoFiltro,   
  .cardAutoOleo,    
  .cardEletroChave, 
  .cardEletroInjecao, 
  .cardEletroArranque,   
  .cardEletroVidro,   
  .cardEletroLampada,  
  .cardEletroChicote{
    background-repeat: no-repeat;
    background-size: contain;
    width: 274px;
    height: 245px;
  }
  
  .cardAutoGas {
    background-image: url("../../../pictures/auto-gas-mobile.svg");
  }

  .cardAutoFiltro {
    background-image: url("../../../pictures/auto-filtro-mobile.svg");
  }

  .cardAutoOleo {
    background-image: url("../../../pictures/auto-oleo-mobile.svg");
  }
  
  .cardEletroChave{
    background-image: url("../../../pictures/eletro-chave-mobile.svg");
  }

  .cardEletroInjecao {
    background-image: url("../../../pictures/eletro-injecao-mobile.svg");
  }

  .cardEletroArranque{
    background-image: url("../../../pictures/eletro-arranque-mobile.svg");
  }

  .cardEletroVidro {
    background-image: url("../../../pictures/eletro-modulo-mobile.svg");
  }

  .cardEletroLampada {
    background-image: url("../../../pictures/eletro-lanterna-mobile.svg");
  }

  .cardEletroChicote {
    background-image: url("../../../pictures/eletro-chicote-mobile.svg");
  }
  #cardAutoDesktop{
    display: none;
  }
  #cardEletroMobile{
    display: none;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .card {
    width: 350px;
    height: 290px;
    margin-bottom: 20px;
  }

  button {
    width: 175px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) { 
  
}


